@import 'theme.less';

@import 'mixins/boxed-group.less';
@import 'mixins/code.less';
@import 'mixins/colors.less';
@import 'mixins/controls.less';
@import 'mixins/flexbox.less';
@import 'mixins/fonts.less';
@import 'mixins/layout.less';
@import 'mixins/media.less';
@import 'mixins/mixins.less';
@import 'mixins/paragraphing.less';


* {
	box-sizing: border-box;
}

html {
	height: 100%;

	.roboto(300);
	font-size: 10px;

	color: @font-color;
}

body {
	.flexbox;
	.flex-column;

	text-rendering: optimizeLegibility;
	font-size: 1.6rem;
	padding: 0; margin: 0;
	min-height: 100%;
	overflow-y: auto;

	@media @mobile, @maxwidth768 {
		.hide-mobile {
			display: none !important;
		}
	}
}

pre {
	.roboto(300);

	margin: 0;
}

a {
	.interactive;

	text-decoration: none;
	color: @blue;
	outline: none;
}

::selection {
	text-shadow: none;
	color: @highlight-color !important;
	background-color: @highlight-background;
}

.header {
	@media @mobile, @maxwidth768 {
		font-size: 30px;
	}

	h1 {
		margin-top: 1em;
	}

	h3 {
		margin-top: 0.5em;
	}

	.logins {
		> :first-child {
			margin-right: 1em;
		}

		> * > :not(:first-child) {
			margin-bottom: 0.5em;
		}

		.title {
			font-weight: bold;
			margin-bottom: 1em;
		}
	}

	.logout {
		margin-top: 1em;
	}

	button {
		width: 200px;

		@media @mobile, @maxwidth768 {
			width: 400px;
		}
	}
}
