<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8"/>

		<title>LifeScope Unity Authorization Backend</title>

		<meta name="description" content="LifeScope Unity Backend" />

		<!-- RequireJS configuration -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>

		<!-- External fonts -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand:400|Roboto:300,400,700|Open+Sans:200,300,400,700|Source+Sans+Pro:300,400,700" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

		<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/lifescope-unity-backend-test/static/css/site.min.css" />
	</head>

	<body>
		<div class="header flexbox flex-column flex-x-center">
			<h1>Access Code</h1>

			<h3>
				You're almost done authorizing LifeScope to work with this app.
				Go back to the Unity app and enter the code below to finish the process.
			</h3>

			<h3>{{ access_code }}</h3>
		</div>
	</body>
</html>
